// Mixins and Variables
$break-xsmall: 400px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
@mixin portTransition {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

// Base Element Styling
body { font-size: 1rem; font-family: 'Roboto', sans-serif; }
body, h1, h2, h3 { padding: 0; margin: 0; }
h1 { font-size: 3rem; }
h2 { font-size: 2rem; padding-top: 1.5rem; }
h3 { font-size: 1.5rem; }
p, ul { line-height: 1.5; padding: 0; margin: 1rem 0 0; }

// Modifiers
.list-reset { list-style: none; }
.content-dark { background-color: #444444; color: #ffffff; }
.text-center { text-align: center; }

/**
  Framework
**/
// Header
#header { padding: 1.5rem 12px; }

#top_nav {
  background-color: #222222;
  color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

.nav_list {
  @include flexbox; justify-content: center; margin-top: 0;

  a {
    display: block;
    padding: 0.5rem 12px;
    color: #ffffff;
    text-decoration: none;

    &:hover, &:focus, &.is-active { color: #3ba357; }
    &:active { background-color: #444444; }
  }
}

// Footer
#footer { padding: 1.5rem 12px; }
/**
  End Framework
**/

/**
  Content
**/
.section { padding: 0 0 40px; }
// About
.about-content {
  @include flexbox; max-width: 1000px; margin: 1rem auto 0;

  &-cell { flex: 0 0 50%; padding: 0 12px; box-sizing: border-box; }

  &-summary { margin-top: 1rem; }

  &-skills {
    margin-top: 1rem;

    li:nth-child(2n) { background-color: #efefef; }
  }
}

// Portfolio
.portfolio-list {
  @include flexbox; max-width: 1196px; margin: 1rem auto 0;

  li {
    flex: 0 0 100%; box-sizing: border-box; padding: 12px;

    @media screen and (min-width: $break-small) {
      flex: 0 0 50%;
    }
    @media screen and (min-width: $break-medium) {
      flex: 0 0 33.333%;
    }
    @media screen and (min-width: $break-large) {
      flex: 0 0 25%;
    }
  }

  &-image_wrap {
    display: block;
    max-width: 275px;
    height: 206px;
    background-color: #eeeeee;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;

    &-temp {
      display: block;
      padding: 48px 12px 0;
      font-size: 1.5rem;
      font-weight: 500;
    }

    &-note { display: block; margin-top: 12px;  }

    &-overlay {
      @include portTransition;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: #ffffff;
      opacity: 0;

      span {
        @include portTransition;
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        padding: 0 12px;
        box-sizing: border-box;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
    &:hover &-overlay, &:focus &-overlay,  {
      opacity: 0.9;
      span {
        top: 25%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }

    &-link {
      @include portTransition;
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      width: 150px;
      padding: 8px 12px;
      border: 1px solid #000000;
      border-radius: 3px;
      background-color: #ffffff;
      margin-left: -75px;
      box-sizing: border-box;
      color: #000000;
      text-decoration: none;
      opacity: 0;
    }
    &:hover &-link, &:focus &-link, &-link:focus {
      opacity: 1;
      bottom: 25%;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      -moz-transform: translateY(50%); 
      transform: translateY(50%);
    }
    &-link:focus, &-link:hover { background-color: #000000; color: #ffffff; }
  }

  &-image { position: absolute; top: 0; display: block; width: 275px; }
}

// Contact

/**
  End Content
**/
